*{
    font-family: 'Source Sans Pro', sans-serif;

}
.navbar-nav a{
    display: flex !important;
    justify-content: space-around !important;
    text-align: right !important;
    word-spacing:5px;
    
}
.navbar{
    display: flex !important;
    justify-content: space-around !important;
}
ul{
    display: flex !important;

}
.navbar-brand{
    font-size: x-large ;
    font-weight: 900px;
    
}
.nav-link{
    text-transform: capitalize;
}